.ForgotPW {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

.ResetInput {
  width: 90%;
  height: 2rem;
  border: 1px solid #3e4759;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin: 1rem;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
}

.ResetInput::placeholder {
  color: #9ba0ab;
}

.ResetInput:focus {
  outline: none;
  border: 1px solid dodgerblue;
}

.ResetInput2 {
  width: 30%;
  height: 2rem;
  border: 1px solid #3e4759;
  font-size: 1rem;
  border-radius: 0.2rem;
  margin: 1rem;
  margin-bottom: 0.5rem;
  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: white;
  text-align: center;
}

.ResetInput2::placeholder {
  color: #9ba0ab;
}

.ResetInput2:focus {
  outline: none;
  border: 1px solid dodgerblue;
}

.ForgotPW > label {
  font-size: 0.8rem;
  width: 90%;
}

.ResetBtn {
  border-radius: 0.2rem;
  font-size: 1rem;
  border: none;
  background-color: dodgerblue;
  width: 90%;
  cursor: pointer;
  margin: 1rem;
  padding: 0.8rem;
  font-weight: 900;
  color: white;
}

.ResetBtn:hover {
  background-color: rgb(75, 161, 253);
}

.Arrow {
  padding: 1rem;
  font-size: 6rem;
}
