.Feed {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.FeedSort {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  background-color: #060a0f;
  color: white;
  border-radius: 0.3rem;
  border: 1px dotted white;
  user-select: none;
  padding: 0.5rem;
  margin: 1rem;
  width: 10%;
}

.FeedSort > h5 {
  text-align: center;
  width: 90%;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid rgb(159, 159, 159);
  margin-bottom: 0.5rem;
}

.SortList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
}

.SortList > li {
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0.5rem;
  cursor: pointer;
}

.SortList > li:hover {
  color: dodgerblue;
}

.PostFeed {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
  background-color: #0b111a;
  color: white;
  border-radius: 0.3rem;
  border: 1px dotted white;
  user-select: none;
  margin: 1rem;
}

.CreatePost {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  border: 1px solid rgb(143, 143, 143);
  border-radius: 0.2rem;
  background-color: #020c1a;
}

.UserInfo {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dotted rgb(192, 192, 192);
}

.PostUser {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.PostArea {
  margin: 1rem;
  width: 80%;
  height: 4rem;
  resize: none;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.PostArea:focus {
  outline: none;
  border: 1px solid dodgerblue;
}

.PostPic {
  margin-right: 0.5rem;
  width: 2rem;
}

.PostBtn {
  border-radius: 0.2rem;
  border: none;
  background-color: dodgerblue;
  width: 50%;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: black;
}

.PostBtn:hover {
  background-color: rgb(101, 178, 255);
}

.Posts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  /* border: 1px solid rgb(159, 159, 159);
  border-radius: 0.2rem;
  background-color: black; */
}

.Post {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 85%;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 0.2rem;
  margin: 1rem;
  background-color: #020c1a;
}

.Post > p {
  text-align: center;
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  /* border-top: 1px solid rgb(159, 159, 159);
  border-bottom: 1px solid rgb(159, 159, 159); */
  margin-bottom: 0;
  background-color: rgb(0, 29, 58);
  border-radius: 0.3rem;
}

.PostRating {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: 0.5rem;
}

.PostBtns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 15%;
  height: 2.5rem;
}

.LikeBtn {
  filter: invert();
  width: 1.5rem;
  cursor: pointer;
}

.LikeBtn:hover {
  filter: invert(100%);
}

.DeletePostBtn {
  background-color: crimson;
  border: 0;
  bottom: 4%;
  right: 2%;
  position: absolute;
  color: white;
  border-radius: 0.2rem;
  padding: 0.3rem;
  font-size: 0.7rem;
  cursor: pointer;
}

.DeletePostBtn:hover {
  background-color: darkred;
}

.LikeBar {
  display: flex;
  flex-direction: row-reverse;
  background-color: lawngreen;
  width: 80%;
  height: 0.2rem;
  margin-bottom: 1rem;
}

.DislikeBar {
  transition: 0.5s ease-in;
  background-color: crimson;
  height: 0.2rem;
}
