.Vehicles {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
  gap: 1rem;
}

/* Vehicle List */

.Hud {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #020c1a;
  border-radius: 0.5rem;
}

.VehicleSearch {
  width: 10%;
  padding: 0.4rem;
  border-radius: 0.3rem;
  border: 1px solid rgb(163, 163, 163);
  background-color: #020c1a;
  color: white;
  text-align: center;
  font-weight: 900;
}

.SearchResults {
  user-select: none;
}

.VehicleList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  width: 90%;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  overflow-y: scroll;
  margin-top: 0;
}

.Vehicle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0.5rem;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid black;
  margin: 0.5rem;
  background-color: #020c1a;
}

.Vehicle:hover {
  background-color: rgb(0, 29, 58);
}

.VehicleContents {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.VehicleInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8%;
}

.VehicleName {
  position: relative;
  top: 1rem;
  user-select: none;
}

.VehicleType {
  top: -0.5rem;
  left: 0rem;
  position: absolute;
  margin: 0;
  color: gray;
  user-select: none;
}

.VehicleTable {
  width: 88%;
  border-collapse: collapse;
  margin: 0.5rem;
  font-weight: 900;
}

.VehicleTable th {
  box-sizing: border-box;
  padding-bottom: 1rem;
  user-select: none;
}

.VehicleTable td {
  box-sizing: border-box;
  width: 10%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.VehicleTable th,
.VehicleTable td {
  text-align: center;
}

.VehicleTable > thead {
  border-bottom: 1px solid gray;
}

.VehicleTable > tbody {
  border-bottom: 1px solid gray;
}

/* Notes Stuff */

.NotesBtn {
  box-sizing: border-box;
  background-color: #020c1a;
  color: white;
  border: 1px solid gray;
  width: 40%;
  padding: 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  user-select: none;
}

.NotesBtn:hover {
  background-color: dodgerblue;
}

.NoteList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: disc;
  width: 100%;
}

.Note {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  gap: 1rem;
  align-items: center;
  width: 100%;
}

.Add {
  box-sizing: border-box;
  bottom: 1rem;
  right: 1rem;
  position: absolute;
  background-color: dodgerblue;
  border-radius: 0.2rem;
  padding: 0.5rem;
  border: none;
  color: white;
}

.Add:hover {
  color: black;
  background-color: lawngreen;
}

.NoteBtn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  filter: brightness(1.5);
  margin: -0.3rem;
}

.NoteBtn:hover {
  filter: brightness(2);
}

.NoNotes {
  color: crimson;
  text-align: center;
}

.CreateBtn {
  position: absolute;
  box-sizing: border-box;
  background-color: #020c1a;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  margin-top: 1rem;
  color: white;
  z-index: 9000;
  right: 1rem;
  cursor: pointer;
}

.CreateBtn:hover {
  background-color: dodgerblue;
}

.Grounded {
  background-color: rgb(121, 0, 0);
}
.Grounded:hover {
  background-color: darkred;
}

.MetricsWindow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  background-color: #020c1a;
  border-radius: 0.3rem;
  user-select: none;
}

.MetricsBtn {
  margin: 0.3rem;
  border: none;
  color: white;
  background-color: #020c1a;
  cursor: pointer;
}

.MetricsBtn:hover {
  color: dodgerblue;
}

.vinFirst12 {
  color: rgb(172, 172, 172);
}

@media (max-width: 1100px) {
  .Hud {
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 95%;
  }

  .SearchResults {
    position: absolute;
    margin: 0;
    bottom: 0.5rem;
    right: 0.5rem;
    font-size: 0.8rem;
  }

  .Vehicles {
    gap: 0rem;
  }
  .VehicleList {
    width: 100%;
  }

  .Vehicle {
    width: 95%;
    font-size: 0.7rem;
  }

  .VehicleName {
    font-size: 1rem;
    position: relative;
    top: 1rem;
  }

  .VehicleType {
    font-size: 0.9rem;
    top: -1.3rem;
  }

  .VehicleSearch {
    padding: 0.3rem;
    margin-top: 0.5rem;
    width: 90%;
    font-size: 16px;
  }

  .CreateBtn {
    display: none;
  }
  .MetricsWindow {
    display: none;
  }

  .NotesBtn {
    font-size: 0.6rem;
  }

  .NoteBtn {
    font-size: 0.7rem;
  }

  .Add {
    font-size: 0.6rem;
  }

  .vinFirst12 {
    display: none;
  }
}
