.Sorter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  user-select: none;
}

.FilterSelect {
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background-color: #020c1a;
  color: white;
}

@media (max-width: 1100px) {
  .Sorter {
    font-size: 0.8rem;
    margin: 0.5rem;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
    gap: 0.5rem;
  }

  .Limit {
    display: none;
  }

  .FilterSelect {
    width: 100%;
  }

  .Small {
    width: 60%;
  }
}
