.Sorter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  box-sizing: border-box;
  border-radius: 0.5rem;
  background-color: #020c1a;
  width: 80%;
  user-select: none;
  padding: 1rem;
}

.FilterSelect {
  border: 1px solid gray;
  padding: 0.3rem;
  border-radius: 0.2rem;
  background-color: #020c1a;
  color: white;
}

@media (max-width: 800px) {
  .Sorter {
    font-size: 0.8rem;
    margin-top: 0rem;
    width: 95%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-items: center;
  }
}
