.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  color: black;
}

.Home > h1 {
  margin: 1rem;
}

.img-frame {
  display: inline-block;
  padding: 6px; /* border thickness */
  border-radius: 18px;
  background: linear-gradient(270deg, #22d3ee, #6366f1, #f43f5e, #22d3ee);
  background-size: 600% 600%;
  animation: borderMove 8s ease infinite;
}

.img-frame .img {
  display: block;
  border-radius: 12px; /* slightly smaller than parent */
  width: 200px; /* adjust to your needs */
  height: auto;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
