.EditPlate {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.PlateInfo {
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 40%;
}

.StateSelect {
  width: 70%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.2rem;
}
